.item {
    width: 24%;
    height: 22%;
}

.item-container {
    display: block;
    height: 400px;
    background-color: white;
    border: 50pt;
    border: 1px solid grey;
    border-radius: 3%;
}

.item img {
    width: 100%;
    height: 200px;
}

.item p {
    padding-left: 10px;
    font-size: 12px;
    margin: 6px 0px;  
}

.item-description {
    font-size: 12px;
}

.item-prices {
    display: flex;
    gap: 5px;
}

.item-buy-item-price {
    color: #374151;
    font-size: 12px;
    font-weight: 600;
}

.item-reserve-price {
    padding-left: 10px;
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 500;
    
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

@media(max-width:800px){
    .item{
        width: 35%;
    }
    .item-buy-now-price{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item p{
        font-size: 14px;
    }
    .item-reserve-price{
        font-size: 14px;
    }
}