.mainLinks {
    display: block;
    padding-left: 200px;
    border-top: #f7f5f5;
    border-top-width: 20pt ;
}

.btn {
    font-weight: bold;
    background-color: #d62d21f3; /* Red */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    width: 240px;
    border: none;
    }

.button2 {
    background-color: #ee4625;
    padding: 15px 32px;
} /* Orange */ 

.button3 {
    background-color: #555555;
    padding: 15px 32px;
} /* Gray */ 

.button4 {
    background-color: #6fb90fc7;
    padding: 15px 32px;
} /* Green */

.button5 {
    background-color: #2f302ff7;
    padding: 15px 32px;
} /* Dark Gray */

.button {
    font-weight: bold;
    background-color: #d62d21f3; /* Red */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    width: 240px;
    border: none;
}

.mainLink_containe {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: block;
}

h2 {
    padding-right: 100px;
    
}
